.add-product-container {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 20px;
}

.form-group {
  margin-bottom: 15px;
}

input,
textarea {
  width: 90%;
  padding: 10px;
  font-size: 16px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

button {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #218838;
}

.error-message {
  color: red;
}